In [1]:
#bill
product=str(input("enter product name"))
quantity=int(input("enter the quantity of product"))
price=float(input("enter the price of one product"))
bill=price*quantity
print("Name of the product",product)
print("Quantity of the product",quantity)
print("price of the product",price)
print("total bill for you",bill)

enter product name LIPSTICK
enter the quantity of product 6
enter the price of one product 2000

Name of the product LIPSTICK
Quantity of the product 6
price of the product 2000.0
total bill for you 12000.0

In [3]:
a=10
if a<20:
   print("WELCOME TO MY PROJECT")

WELCOME TO MY PROJECT

In [4]:
a=10
if a>15:
   print("hello")
else:
   print("bye")

bye

In [5]:
x=5
if x>2:
   print("yes")

yes

In [6]:
x=10
print(int(x)+5)

15

In [7]:
x=0
if x>0:
      print("true")
else:
    print("false")

false

In [8]:
name=str(input("enter the name"))
age=int(input("enter age"))
if age<18:
    print(name)
    print("you are not ellegible to vote")
elif age>18:
    print(name)
    print("you are elegible")
else:
    print("invalid")

enter the name VANSHI
enter age 20

VANSHI
you are elegible

In [9]:
marks=50
if marks>=40:
    print("pass")
else:
    print("fail")

pass

In [11]:
a=int(input("enter a number"))
if (a%2==0):
    print("even")
else:
    print("odd")

enter a number 101010

even

In [12]:
x=6
if x:
    print("positive")
else:
    print("negative")

positive

In [14]:
#one year 12 moonths 
a=str(input("enter the name of month"))
if a in["november","december","january","febuary"]:
    print("the given season is winter season")
elif a in["march","april","may","june"]:
    print("the given season is summer season")
elif a in["july"]:
    print("rainy season")
elif a in["august","september"]:
    print("autumn season")
else:
    print("error")

enter the name of month july

rainy season

In [15]:
x=10
if x>5:
  print('a')
elif x>3:
  print('b')
else:
  print('c')

a

In [16]:
x=4
y=2
if x>2:
    if y>3:
        print('yes')
    else:
        print('no')

no

In [17]:
age=50
if age<13:
    print('child')
elif age <18 :
    print('teen')
else :
    print('adult')

adult

In [20]:
mode=str(input("enter the mode of transport"))
vehical=str(input("enter the name of vehical"))
if mode=="air":
 if vehical=="aeroplane":
    print("you are in aeroplane")
 elif vehical=="hot air balloon":
    print("you are in hot air baloon")
if mode=="water":
 if vehical=="ship":
    print("you are in ship")
elif vehical=="boat":
     print("you are in boat")
if mode=="land":
 if vehical=="car":
    print("you are in car")
elif vehical=="bike":
     print("you are in bike")

enter the mode of transport water
enter the name of vehical ship

you are in ship

In [21]:
x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10